<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script type="text/javascript" src="../js/vue.js"></script>
<body>
    <div id="root">
        <input type="text" v-model="firstName"><br><br>
        <input type="text" v-model="lastName"><br><br>
        <!-- <span>全名:{{firstName + ' ' +lastName}}</span> -->
        <span>全名:{{fullName()}}</span>
    </div>
</body>
    <script type="text/javascript ">
        Vue.config.productionTip = false
        new Vue({
            el:'#root',
            data:{
                firstName:'ming',
                lastName:'Yao',
            },
            
            methods: {
                fullName() {
                    return this.firstName + ' ' + this.lastName
                },
            },
        })
    </script>
</html>